p1 
{
  display: inline-block;
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  padding-left:100px;
  padding-right:100px; 
  padding-bottom: 70px
}

h1 
{
    color: #f1c03d;

}
h3 
{
    color: #f1c03d;
  
}
img {
  padding:20px; 
}

li {
    list-style: circle;
    font-family: 'Raleway', sans-serif;
  }
  
  .list {
    list-style: square;
  }
  
  #msg {
    font-family:'Raleway', sans-serif;
  }

  .color-theme {
    color: #ffffff;
    background:#00204b;
    font-family: 'Raleway', sans-serif;
  }

	@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 400;
  font-display: block;
  src: url(https://fonts.gstatic.com/s/raleway/v26/1Ptsg8zYS_SKggPNyCg4QIFqL_KWxWMT.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
  /*NAVIGATION BAR*/ 
  
 /* Add a black background color to the top navigation */
.topnav {
    background-color: #00204b;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #f1c03d;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(255, 255, 255);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: #ffffff;
  }

  /*----------Divider-----------*/ 
  .wrapper
{
	padding-bottom: 90px;
}

.divider
{
	position: relative;
	margin-top: 90px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, goldenrod, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: gold;
	border-bottom: 1px solid goldenrod;
	border-right: 1px solid goldenrod;
}

